layout:
	back_to_top: "Zpět nahoru"
	nav:
		home: "Domů"
		search: "Hledej"

homepage:
	banner:
		title: "BANOT"
		description: """
			Banot je nástroj, který vám pomůže při vyhledávání ukradených předmětů v online bazarech. Umí vás také automaticky upozornit na nově přidané položky.
		"""
		button_search: "Hledej"
		button_show_report: "Zobraz Report"

	view_report:
		title: "Zobraz Report"

	story:
		title: "Příběh"
		abstract: """
			Pořídil jsem si pěkné silniční kolo, abych na něm dojížděl do školy, do práce, a taky torchu sportoval. Netrvalo dlouho a z místa kde jsem své kolo pravidelně parkoval jsem zvedal jen zbytky mého drátěného zámku. Po příjezdu mi policisté nedali moc naděje a doporučili, abych „provedl vlastní pátrání“ a zkusil kolo najít online.

			Ukázalo se, že existuje mnoho online tržišť, na které je denně publikováno spousta kol a člověk je muís procházet. V některých případech webové stránky umožňují uživateli přihlásit se k zasílání e-mailových oznámení, když je zveřejněna nová položka. Tato funkcionalita ale není standardem a na mnoha stránkách člověku nezbyde než ručně procházet stránku po stránce.

			Možná je už příliš pozdě na nalezení toho mého, ale každý den jsou odcizena další a další kola. Navíc, kola nejsou jediným předmětem v hledáčku zlodějů: notebooky jsou kradeny z knihoven a kaváren, domy jsou vykrádány a existuje nemalá šance, že alespoň některé z těchto předmětů tak či onak skončí na nějakém online tržišti.
		"""

form_search:
	search: "Hledej"
	query: "Dotaz"

form_find_report:
	email_placeholder: "alcapone@email.cz"
	name_placeholder: "silly-lion-42"
	open_button: "Zobrazit"

add_report:
	back_to_search: "Zpět na hledání"
	query: "Vyhledávaný dotaz"
	total_count: "{1} Celkem nalezen 1 předmět|[2,4] Celkem nalezeny %count% předměty|[5,Inf[ Celkem nalezeno %count% předmětů"
	success:
			heading: "Report vytvořen!"
			next_report_in: "{0} Notifikace budete dostávat hnad jakmile se objeví něco nového.|{24} Notifikace budete dostávat jednou za den.|{168} Notifikace budete dostávat jednou za týden."
			link_description: "Pod tímto odkazem odteď najdete seznam nalezených předmětů."
			back_to_search: "Zpět na hledání"

form_add_report:
	email: "Email"
	frequency: "Frekvence"
	frequency_options:
		0_hours: "ASAP"
		24_hours: "Jednou denně"
		168_hours: "Jednou týdně"
	save: Uložit

item_list:
	number_of_results: "{1} Celkem nalezen 1 předmět|[2,4] Celkem nalezeny %count% předměty|[5,Inf[ Celkem nalezeno %count% předmětů"
	add_report: "Zapnout notifikace"
	no_results: "Bohužel, pro tento dotaz nebyl nalezen žádný předmět."
	load_more: "Více"

view_report:
	page_heading: "Report"
